
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490352163597'); /* IE9*/
  src: url('iconfont.eot?t=1490352163597#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490352163597') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490352163597') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490352163597#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\348d"; }

.icon-back:before { content: "\e622"; }

.icon-zitiicon:before { content: "\e605"; }

.icon-loading:before { content: "\e64b"; }

.icon-footer:before { content: "\e8ec"; }

.icon-header:before { content: "\e8ed"; }

.icon-radio:before { content: "\e64c"; }

.icon-go:before { content: "\e63b"; }

.icon-samicon1pxjianhao:before { content: "\e62a"; }

.icon-scrollvertical:before { content: "\e64d"; }

.icon-toast:before { content: "\e689"; }

.icon-anonymous-iconfont:before { content: "\e600"; }

.icon-password:before { content: "\e623"; }

.icon-7:before { content: "\e606"; }

.icon-17:before { content: "\e60b"; }

.icon-25:before { content: "\e610"; }

.icon-lazyload:before { content: "\e630"; }

.icon-switch:before { content: "\e641"; }

.icon-swipe:before { content: "\e66a"; }

.icon-button:before { content: "\e63c"; }

.icon-checklist:before { content: "\e645"; }

