
//base color

$light-blue: #58b7ff;
$blue: #20a0ff;
$dark-blue: #1d8ce0;

$success: #13ce66;
$warning: #f7ba2a;
$danger: #ff4949;

$black: #1f2d3d;
$light-black: #324057;
$extra-light-black: #475669;

$silver: #8492a6;
$light-silver: #99a9bf;
$extra-light-silver:#c0ccda;

$gray: #d3dce6;
$light-gray: #e5e9f2;
$extra-light-gray:#eff2f7;

$dark-white: #f9fafc;
$white: #fff;






