
//base color 根目录有个图片，有对应的颜色效果
// 的蓝色: 浅 中 深
$light-blue: #58b7ff;
$blue: #20a0ff;
$dark-blue: #1d8ce0;

//辅助： 提示、成功、警告、危险
$blue: #20a0ff;
$success: #13ce66;
$success-dark: #1dc668;

$warning: #f7ba2a;
$warning-dark: #dea726;

$danger: #ff4949;
$danger-dark: #ce3c39;

// 中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。
//颜色的深度依次降低
$black: #1f2d3d;
$light-black: #324057;
$extra-light-black: #475669;

$silver: #8492a6;
$light-silver: #99a9bf;
$extra-light-silver:#c0ccda;

$gray: #d3dce6;
$light-gray: #e5e9f2;
$extra-light-gray:#eff2f7;

$dark-white: #f9fafc;
$white: #fff;

//边框
$border-base: #bfcbd9;


/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,input,textarea,select,button,table{border-collapse:collapse;border-spacing:0;}
body{font:normal 1em/1.25em 'microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;color:#000;-webkit-text-size-adjust:none}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,fieldset{border:0 none;}
ul,ol,li{list-style:none;}
em,address{font-style:normal;}
table{border-collapse:collapse;}
em,i{font-style:normal;}
strong,b{font-weight:normal;}
img{border:none;}
input,img{vertical-align:middle;}
input{outline:none;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
textarea:focus{outline:0;}
a{text-decoration:none;}
.clearfix:after{display:block;clear:both;visibility:hidden;height:0;content:" ";font-size:0;}
.clearfix{*zoom:1;}
